/* ESPECIFICAÇÕES EM TODOS */

/* Variáveis de cor para o tema claro */
:root {
    --primary-color: #007BFF; /* Azul */
    --secondary-color: #000000; /* Preto */
    --background-color: #F4F4F9; /* Cor de fundo clara */
    --text-color: #FFFFFF; /* Cor do texto para botões */
    --input-background: #FFFFFF; /* Cor de fundo dos inputs */
    --input-border: #CCCCCC; /* Cor da borda dos inputs */
    --hover-color: #0056b3; /* Azul escuro para hover */
}

/* Variáveis de cor para o tema escuro */
:root.dark-theme {
    --primary-color: #0056b3; /* Azul escuro */
    --secondary-color: #FFFFFF; /* Branco */
    --background-color: #121212; /* Fundo escuro */
    --text-color: #FFFFFF; /* Texto branco */
    --input-background: #222222; /* Cor de fundo dos inputs em tema escuro */
    --input-border: #555555; /* Cor da borda dos inputs em tema escuro */
    --hover-color: #003C7D; /* Azul escuro para hover em tema escuro */
}

/* Estilo básico do corpo */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Estilo do título */
h1 {
    color: var(--primary-color);
    margin-bottom: 20px;
    font-size: 2.5em;
}

/* Estilo do formulário */
form {
    background-color: var(--input-background);
    border: 1px solid var(--input-border);
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    color: var(--secondary-color);
    font-weight: bold;
}

form input,
form select,
form button {
    width: 100%;
    padding: 10px;
 
